button,
input {
  padding: 1em;
  margin: 0.5em;
}
button {
  border: 2px outset #222;
}
button:active {
  border: 2px inset #222;
  transform: translateY(1px) translateX(1px);
}
.controlButtons {
  background-color: cadetblue;
}
section {
  padding: 0.2em;
  margin: 0.5em 0.2em;
  border: 1px dotted black;
}
.commandInputSection input,
.commandInputSection button {
  margin: 0em;
  padding: 0.5em 0.5em;
}
.presetSettings {
  background-color: lightgray;
}
.machineSettings {
  background-color: lightyellow;
}
.sectionHeader {
  display: flex;
  align-items: center;
  gap: 1em;
}
.sectionHeader * {
  flex-grow: 1;
}
#systemLog {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
  border: 1px solid #444;
  border-radius: 4px;
  /*margin-top: 5px;*/
  overflow-y: scroll;
  height: 300px;
  white-space: break-spaces;
  color: #ddd;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.alignRight {
  float: right;
}
.mainButtons {
  background: #444;
}
.mainButtons button {
  font-weight: bold;
  font-size: 1.2em;
}
.pairedButtons {
  display: flex;
  flex-wrap: wrap;
}
.pairedButtons button,
.pairedButtons input,
.pairedButtons DIV {
  flex-grow: 1;
  margin: 0.2em;
  /*    font-weight: bold;
    font-size: 1.2em;*/
}
.mainButtons button {
  border: 5px outset #222;
background-color:yellow;

  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.mainButtons button:active {
  border: 5px inset #222;
  transform: translateY(2px) translateX(2px);
  background-color: #bbb;
}

/* Klasa wyzwalająca animację */
.updated-flash {
  /* Krótszy czas (0.5s) i bardziej dynamiczne przejście */
  animation: flash-highlight 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes flash-highlight {
  0%, 30% {
    /* Wersja ŻÓŁTA (mocniej rzuca się w oczy) */
    background-color: rgba(28, 184, 0, 0.5);
    box-shadow: 0 0 12px rgba(29, 172, 3, 0.8);
    border-color: #39ff14;
  }
  100% {
    /* Powrót do stanu normalnego */
    background-color: white;
    box-shadow: none;
    /* border-color wróci do domyślnego stylu inputa */
  }
}

/* Dodatkowe style dla inputów, żeby poświata nie była ucięta */
input, select, span.val-display {
    transition: all 0.5s; /* Płynne powroty */
    border: 1px solid black; /* Domyślna ramka, żeby było co zmieniać */
    /*padding: 2px 4px; /* Trochę oddechu dla tła */
    /*border-radius: 3px; /* Ładniejsza poświata */
}